/*#4B3827 slate*/
/*#826C59 lighter slate*/
/*#AAA189 lightest slate*/
/*#663311 brown */
/*#8A5711 lighter brown*/
/*#BC9C63 lightest brown*/
/*#973C13 red */
/*#DF7500 orange*/
/*#DCCA53 yellow*/
/*#3C4F19 forest green*/
/*#5C8D23 lighter forest green*/
/*#B9D094 lightest forest green*/
/*#4B6174 cobalt*/
/*#8192A1 lighter cobalt*/
/*#A2ADB9 lightest cobalt*/

body{
	width:100%;
	height:auto;
	background-image: url(http://hd-wall-papers.com/images/wallpapers/austin-wallpaper/austin-wallpaper-5.jpg);
	background-repeat:no-repeat;
	background-position: 0 0 0 px;
	-webkit-background-size:cover;
	background-attachment: fixed; 

}

.title{
	text-align:center;
	background-color:white;
	color:#5c8d23;
	width:100%;
	height:100px;
	padding-top:10px;
	margin-bottom: 50px;
}
#where{
	color:#D6D2C4;
	width:97.5%;
	height:500px;
	border: 1px solid #D6D2C4;
	margin-left:15px;
	margin-bottom:50px;
}

.question-row{
	text-align:center;
	color: #D6D2C4;
	font-style:bold;
	border: 1px solid #D6D2C4;
	margin-bottom:50px;
}

.input-options{
	margin-top:15px;
	text-align:center;	

}
.when-box{
	background-color: #9db1a8;
	width:300px;
	height:auto;
	float:left;

}
.who-box{
	background-color: #9db1a8;
	width:300px;
	height:auto;
	align-items:center;
	margin-left:110px;
}
.what-box{
	background-color: #9db1a8;
	width:300px;
	height:auto;
	align-items:center;
	float:right;

}

#when{
	color:#D6D2C4;
	float:left;
	width:300px;
	height:300px;
	border: 3px solid #D6D2C4;
}

#who{	
	color:#D6D2C4;
	width:300px;
	height:300px;
	border: 3px solid #D6D2C4;
	margin-left:110px;
}
#what{
	color:#D6D2C4;
	float:right;
	width:300px;
	height:300px;
	border: 3px solid #D6D2C4;
}