/*#4B3827 slate*/
/*#826C59 lighter slate*/
/*#AAA189 lightest slate*/
/*#663311 brown */
/*#8A5711 lighter brown*/
/*#BC9C63 lightest brown*/
/*#973C13 red */
/*#DF7500 orange*/
/*#DCCA53 yellow*/
/*#3C4F19 forest green*/
/*#5C8D23 lighter forest green*/
/*#B9D094 lightest forest green*/
/*#4B6174 cobalt*/
/*#8192A1 lighter cobalt*/
/*#A2ADB9 lightest cobalt*/

body{
	width:100%;
	height:auto;
	background-image: url(http://hd-wall-papers.com/images/wallpapers/austin-wallpaper/austin-wallpaper-5.jpg);
	background-repeat:no-repeat;
	background-position: 0 0 0 px;
	-webkit-background-size:cover;
	background-attachment: fixed; 
	padding: 20px;
	margin: 10px;

}

.title{
	
	background-color:white;
	color:#5c8d23;
	height:100px;
	padding-top:10px;
	margin-bottom: 50px;
}

.main-title {
	font-family: 'Lobster', cursive;
	color: #cec05d;
	font-size: 100px;
	text-align:center;
	padding-top:10px;
	margin-bottom: 40px;
}

/*.col-perm {
	padding: 25px;
}*/

.when-div {
	height: 100%;
}

.div-perm-inner {
	margin: 10px;
	padding: 15px 30px;
	background-color: #ffffff;
}

/*.div-who-inner {
	padding: 15px 40px;
}*/


.panel{
	background-color: #ffffff;
	margin: 30px auto;
}

.panel-default>.panel-heading {
	background-color: #b8dabe;
	border-bottom-width: 0px;
}

.panel-title {
	background-color: green;
}

.perm-title {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.small-h2 {
	margin-top: 10px;
	margin-bottom: 0px;
}

.who-body {
	padding: 0px 35px;
}

.col-contact-tabs{
	margin-bottom: 0px;
	align-items: baseline;
}

.new-contact-form {
	padding-left: 20px;
}

.div-cal-inner {
	align-items: center;
	justify-content: center;
}

.find-next-inner {
	text-align: center;
	align-items: center;
	background-color: #b8dabe;
	border: solid 5px #cec05d;
	padding: 10px auto;
}

.find-next{
	font-family: 'Lobster', cursive;
	color: #000000;
	font-size: 50px;
	text-align:center;
	margin: 10px auto;
}







