/*#4B3827 slate*/
/*#826C59 lighter slate*/
/*#AAA189 lightest slate*/
/*#663311 brown */
/*#8A5711 lighter brown*/
/*#BC9C63 lightest brown*/
/*#973C13 red */
/*#DF7500 orange*/
/*#DCCA53 yellow*/
/*#3C4F19 forest green*/
/*#5C8D23 lighter forest green*/
/*#B9D094 lightest forest green*/
/*#4B6174 cobalt*/
/*#8192A1 lighter cobalt*/
/*#A2ADB9 lightest cobalt*/

.create-title{
	margin-top:-5px;
}
h1{
	font-family: 'Lobster', cursive;
	
}
h2{
	font-family: 'Lobster', cursive;
	
}
h3{
	font-family: 'Lobster', cursive;
	
}


body{
	width:100%;
	height:auto;
	background-image: url(http://hd-wall-papers.com/images/wallpapers/austin-wallpaper/austin-wallpaper-5.jpg);
	background-repeat:no-repeat;
	background-position: 0 0 0 px;
	-webkit-background-size:cover;
	background-attachment: fixed; 
	padding: 20px;
	margin: 10px;

}

.title{
	
	background-color:white;
	color:#5c8d23;
	height:100px;
	padding-top:10px;
	margin-bottom: 50px;
}

.main-title {
	font-family: 'Lobster', cursive;
	color: #cec05d;
	font-size: 100px;
	text-align:center;
	padding-top:10px;
	margin-bottom: 40px;
}

.under-title-row {
	margin-top: -50px;
}

.log-in-panel {
	margin: 20px;
}

.log-in-panel-outter {
	padding: 60px;
}

.log-in-panel-heading {
	width: 100%;
	margin-left: 0px
}

.log-in-panel-body {
	padding: 0px 40px;
}

.log-in-row {
	margin: 15px auto;
}

.log-in-button {
	margin: 15px auto;
}

.calendar-div{
	margin-left:20px;
	width:95%;

}

.new-event-div{
	margin-left:48px;
}

/*.places-div{
	margin-left:20px;
	height:;
}*/

.div-perm-inner {
	margin: 10px;
	padding: 15px 30px;
	background-color: #ffffff;
}

.div-map-inner {
	margin: 10px;
	padding: 15px 30px;
	background-color: #ffffff;
}

.div-results-inner {
	margin: 10px;
	padding: 15px 30px;
	background-color: #ffffff;
}

/*.div-who-inner {
	padding: 15px 40px;
}*/


.panel{
	background-color: #ffffff;
	margin: 30px auto;
}

.panel-default>.panel-heading {
	background-color: #b8dabe;
	border-bottom-width: 0px;
}

.panel-title {
}

.perm-title {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.small-h2 {
	margin-top: 10px;
	margin-bottom: 0px;
}

.who-body {
	padding: 0px 35px;
}

.col-contact-tabs{
	margin-bottom: 0px;
	align-items: baseline;
}

.new-contact-form {
	padding-left: 20px;
}

.div-cal-inner {
	align-items: center;
	justify-content: center;
}
.panel-title{
	text-align:center;
	height:20px;
	background-color: #b8dabe;
}
.where-box{
	margin-left:20px;
	width:95%;
}

.find-next-inner {
	text-align: center;
	align-items: center;
	background-color: #b8dabe;
	border: solid 5px #cec05d;
	padding: 10px auto;
}

.find-next{
	font-family: 'Lobster', cursive;
	color: #000000;
	font-size: 50px;
	text-align:center;
	margin: 10px auto;
}
.log-in-panel {
	margin: 20px;
}

.log-in-panel-outter {
	padding: 60px;
}

.log-in-panel-heading {
	width: 100%;
	margin-left: 0px
}

.log-in-panel-body {
	padding: 0px 40px;
}

.log-in-row {
	margin: 15px auto;
}

.log-in-button {
	margin: 15px auto;
}

.delete-button {
	margin: 5px;
}

.create-row {
	margin: 15px auto;
}

.create-button {
	margin: 15px auto;
}

.col-cal {
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	text-align: center;
}

.navbar-right{
	margin: 10px 0 0 0;
}

#hello-msg {
	margin: 17px 0 0 0;
}

